h3 {
    margin: 0px;
    color: #feedcd;
}

p {
    margin: 0px;
    color: #eefffc;
}

span {
  color: #ffe6d8;
}

[href="#"] {
    margin-top: 10px;
    color: rgb(39, 241, 252);
}

.carousel-wrapper {
  display: flex;
  align-items: center;
}

.carousel-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  height: 350px;
  gap: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  width: 225px;
  height: 300px;
  margin: 30px 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  background: url(../assets/glass-profile-card.png) no-repeat center center;
  background-size: cover;
  transition: transform 0.3s, margin-top 0.3s;
}

.carousel-card:hover {
  transform: scale(1.1);
  margin-top: 10px;
}

.profilePhoto {
  margin-top: 5px;
  width: 175px;
  border-radius: 50%;
}

.student-details { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.expanded-details-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.expanded-details-container {
  position: fixed; /* Use fixed instead of absolute to position it relative to the viewport */
  bottom: 0;
  left: 0; /* Ensure it starts from the left edge */
  right: 0; /* Ensure it spans the entire width */
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's on top of other elements */
}
