.card {
  width: 200px;
  max-height: 500px;
  background: url(./assets/glass-profile-card.png) no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 10px; /* Rounded corners */
  padding: 5px; /* Space around the image */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.card img {
  width: 145px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: 5px; /* adjust this value to move the photo down */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
